name: CI Pipeline

on:
  push:
    branches: [main, develop, feature/*]
  pull_request:
    branches: [main, develop]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        # This tells the runner to jump into the folder before running the command
        run: npm install
        working-directory: .H:\DailyCalcLK\DailyCalc-LK-devops\DailyCalc-LK-devops\package.json

      - name: Run npm run build
        run: npm run build
        working-directory: .H:\DailyCalcLK\DailyCalc-LK-devops\DailyCalc-LK-devops\package.json
